{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <title>Fake Persons</title>
    <style>
        .fab {
            margin: 0px;
            top: auto;
            right: 20px;
            bottom: 20px;
            left: auto;
            position: fixed;
            padding: 0
        }

        .clickable-row tr:hover {
            background-color: blueviolet;
        }

        .clickable-row a {
            text-decoration: none;
            display: block;
            padding: 16px;
        }
    </style>
</head>

<body>
    <div class="mui-appbar">
        <table width="100%">
            <tr class="mui--appbar-height" style="vertical-align: middle;">
                <td class="clickable-row mui--text-left" style="text-align: center;"><a href="{% url 'index' %}"
                        class="mui--text-display2" style="color: aliceblue">Fake Persons</a></td>

                <td class="mui--text-right" style="text-align: center;">
                    <ul class="mui-list--inline mui--text-body2">
                        {% if user.is_authenticated %}
                        <li class="mui--text-headline" style="color: aliceblue"">{{ user.username }}</li>
                        <li class="clickable-row"><a href="{% url 'logout' %}" class="mui--text-headline" style="color: aliceblue"><img src="{% static 'img/logout.png' %}" style="height: 1em; width:1em;"> Logout</a></li>
                        {% else %}
                        <li class="clickable-row"><a href="{% url 'index' %}" class="mui--text-headline" style="color: aliceblue">Register</a></li>
                        <li class="clickable-row"><a href="{% url 'login' %}" class="mui--text-headline" style="color: aliceblue"><img src="{% static 'img/user.png' %}" style="height: 1em; width:1em;"> Login</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    {% block body %}
    {% endblock %}
</body>

</html>