{% extends "base.html" %}

{% block body %}
<div class="mui-container">
    <div id="content-wrapper" class="mui--text-center">
        <a href="{% url 'person_new' %}" class="mui-btn mui-btn--primary" style="width: 40%;">Create Person</a>
    </div>

    <table class="mui-table mui--text-center">
        <tbody>
            {% for person in persons %}
            <tr>
                <td><a href="{% url 'person_detail' pk=person.pk %}" class="mui-panel mui-btn mui-btn--flat"
                        style="width: 80%;">{{ person.firstName }} {{ person.lastName }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}